.venv/
venv/

*.pyc
__pycache__/

*.swp

.python-version

.vscode/

instance/

build/

dist/

.pytest_cache/
.coverage*
htmlcov/

*.egg-info/

.env
.flaskenv

app.db

logs/*.log*
geckodriver.log

messages.pot

.ycm_extra_conf.py

.idea

Dockerfile.localg